body{
  background-color: white;
  font-family: 'Nunito', sans-serif !important;
}

h1,h2,h3{
  font-family: 'Staatliches', cursive;
  color: #C4E538;
}
h4{
  font-family: 'Staatliches', cursive;
  text-transform: uppercase;
}

#nav img{
  width: 140px;
}

#nav {
  font-size: 20px;
  z-index: 1;
}

span.libreria-numero{
  font-size: 2rem;
  color: white;
}

.navbar-libreria{
  background: linear-gradient(90deg, #1c3643 0, #273b47 25%, #1e5372);
}

/*
body{
  background-image: url(../img/bg-1.jpg);
}
*/

main .container{
  -webkit-box-shadow: -1px 10px 25px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 10px 25px -5px rgba(0,0,0,0.75);
   box-shadow: -1px 10px 25px -5px rgba(0,0,0,0.75);
   border-radius: 10px;
   background: linear-gradient(90deg, #1c3643 0, #273b47 25%, #1e5372);
   color: white;
}

div.card{
  -webkit-box-shadow: -4px 9px 5px -4px rgba(0,0,0,0.42);
  -moz-box-shadow: -4px 9px 5px -4px rgba(0,0,0,0.42);
  box-shadow: -4px 9px 5px -4px rgba(0,0,0,0.42);
}

div.card{
  color:black;
}

main .container #libro img{
  max-width: 380px;
}

main .container i{
  font-size: 25px;
}

main .container i.green{
  color:#27ae60;
}

h3::after{
  content: '';
  margin: 0 auto;
  background-image: url(../img/separador.png);
  height: 3px;
  width: 100%;
  display: block;
}

#footer{
   background: linear-gradient(90deg, #1c3643 0, #273b47 25%, #1e5372);
}

#footer a{
  color: white;
}

img.profile-img-main{
  border-radius:50%;
  width: 12vh;
  height: 12vh;
}

img.profile-img{
  border-radius:50%;
  height: 10vh;
  width: 10vh;
}


@media only screen and (min-width:320px) {
  main .container #libro img{
    max-width: 250px;
  }
}

@media only screen and (min-width:768px) {
  main .container #libro img{
    max-width: 368px;
  }
}

@media only screen and (min-width:320px) {
  img.profile-img-main{
    width: 10vh;
    height: 10vh;
  }
}

img.card-img-top{
  height: 30vh;
  width: 100%;
}


h5.titulo-home{
  font-family: 'Permanent Marker', cursive;
  font-size: 80px;
}


.cardvis{
    margin-left: 10pc;
}
.cardvis img{
    height: 350px;
    width: 500px;
    margin-left: 8pc;
    
}

.cardvis1{
    margin-left: 10pc;
}
.cardvis1 img{
    margin-top: 4pc;
    height: 350px;
    width: 500px;
    margin-left: 8pc;
    
}