<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<html>
<head><title>ADD</title>
<link href="style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="../../resources/css/style.css">
<link rel="stylesheet" href="../../resources/css/bootstrap.min.css">
</head>
<body>
<div>
<div class="page-container">
            
            <form action="#" method="POST">
			<h1><font-family: "FontAwesome";
                src: url('includes/fonts/fontawesome/fontawesome-webfont.eot');
                src: url('includes/fonts/fontawesome/fontawesome-webfont.eot?#iefix') format('eot'),
                url('includes/fonts/fontawesome/fontawesome-webfont.woff') format('woff'),
                url('includes/fonts/fontawesome/fontawesome-webfont.ttf') format('truetype'),
                url('includes/fonts/fontawesome/fontawesome-webfont.svg#FontAwesome') format('svg');
                font-weight: normal;
                font-style: normal;
                -webkit-font-smoothing: antialiased></font-family:>Librería Maquilishuat</h1>
               
				<input type="text" name="email" class="Email" placeholder="Usuario">
				<input type="password" name="password" class="Address" placeholder="Contraseña">
                <button type="submit" value="Add" name="submit">Entrar</button>
            </form>
        </div>
</div>
		

</body>