<!doctype html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display|Nunito|Staatliches" rel="stylesheet">
    <link rel="icon" type="image/png" href="../img/fav-ico.PNG" />
    <link rel="stylesheet" href="../css/style.css">
    <title>Libreria Maquilishuat</title>
</head>

<body>
    <nav id="nav" class="navbar navbar-expand-lg navbar-dark navbar-libreria sticky-top">
        <div class="container">
            <a class="navbar-brand" href="#"><img src="../img/logo.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="../index.html">Inicio <i class="fas fa-home"></i></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Categorias <i class="fas fa-filter"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Noticias <i class="far fa-newspaper"></i></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Mi Perfil
                            <i class="fas fa-user-circle"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Editar Mis Datos</a>
                            <a class="dropdown-item" href="#">Mis Comentarios</a>
                            <a class="dropdown-item" href="#">Mis Pedidos</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Cerrar Sesión <i class="fas fa-sign-out-alt"></i></a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main id="categorias">
        <div class="container mt-4 mb-4 pb-4">
            <div class="row">
                <div class="col-10 offset-1 offset-md-0 col-md-10 col-lg-10 mt-10">
                    <div class="cardvis1">
                        <img src="../img/mision.vision/mision.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h4 class="text-center">Misión</h4>
                            <p class="card-text">Contribuir a la difusión de la cultura y entretenimiento, creando espacios propicios para el encuentro con el conocimiento. Atendiendo el compromiso moral con nuestro entorno, nuestros colaboradores y accionistas.</p>
                        </div>
                    </div>
                </div>
                <div class="col-10 offset-1 offset-md-0 col-md-10 col-lg-10 mt-10">
                    <div class="cardvis">
                        <img src="../img/mision.vision/vision.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h4 class="text-center">Visión</h4>
                            <p class="card-text">Contribuir a la difusión de la cultura y entretenimiento, creando espacios propicios para el encuentro con el conocimiento. Atendiendo el compromiso moral con nuestro entorno, nuestros colaboradores y accionistas.Consolidar el liderazgo de la marca, accediendo a nuevos mercados y enriqueciendo nuestra oferta cultural hacia el año 2020.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer id="footer" class="pb-4 pt-4">
        <div class="container">
            <div class="row text-center">
                <div class="col-12 col-md-6 col-lg pb-2">
                    <a href="#">Inicio</a>
                </div>
                <div class="col-12 co-md-6 col-lg pb-2">
                    <a href="#">Contactanos</a>
                </div>
                <div class="col-12 col-md-6 col-lg pb-2">
                    <a href="#">Noticias</a>
                </div>
                <div class="col-12 col-md-6 col-lg pb-2">
                    <a href="#">Terminos y Condiciones</a>
                </div>
                <div class="col-12 col-md-6 col-lg pb-2">
                    <a href="#">Privacidad</a>
                </div>
                <div class="col-12 col-md-6 col-lg pb-2">
                    <a href="#">Sugerencias</a>
                </div>
            </div>
        </div>
    </footer>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
</body>

</html>
