body {
  background-color: white;
  font-family: 'Nunito', sans-serif !important;
}

h1, h2, h3 {
  font-family: 'Staatliches', cursive;
  color: #C4E538;
}



h4 {
  font-family: 'Staatliches', cursive;
  color: #C4E538;
  text-transform: uppercase;
}

#nav img {
  width: 140px;
}

#nav {
  font-size: 20px;
  -webkit-box-shadow: -1px 10px 25px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 10px 25px -5px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 10px 25px -5px rgba(0, 0, 0, 0.75);
}

span.libreria-numero {
  font-size: 2rem;
  color: white;
}

.navbar-libreria {
  background: linear-gradient(90deg, #1c3643 0, #273b47 25%, #1e5372);
}

main .container {
  -webkit-box-shadow: -1px 10px 25px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 10px 25px -5px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 10px 25px -5px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  background: linear-gradient(90deg, #1c3643 0, #273b47 25%, #1e5372);
  color: white;
}

div.card {
  -webkit-box-shadow: -4px 9px 5px -4px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: -4px 9px 5px -4px rgba(0, 0, 0, 0.42);
  box-shadow: -4px 9px 5px -4px rgba(0, 0, 0, 0.42);
}

div.card {
  color: black;
}

main .container #libro img {
  max-width: 380px;
}

main .container i {
  font-size: 25px;
}

main .container i.green {
  color: #27ae60;
}

h3::after {
  content: '';
  margin: 0 auto;
  background-image: url(../img/separador.png);
  height: 3px;
  width: 100%;
  display: block;
}

#footer {
  background: linear-gradient(90deg, #1c3643 0, #273b47 25%, #1e5372);
}

#footer a {
  color: white;
}

img.profile-img-main {
  border-radius: 50%;
  width: 12vh;
  height: 12vh;
}

img.profile-img {
  border-radius: 50%;
  height: 10vh;
  width: 10vh;
}


img.card-img-top {
  height: 30vh;
  width: 100%;
}


h5.titulo-home{
  font-family: 'Permanent Marker', cursive;
  font-size: 80px;
}

.cardvis img{
    height: auto;
    width: 100%;
}

.carousel-inner img {
  width: 100%;
  height: 75vh;
}

img.categorias-inicio{
  height: 235px;
}

.card-img-overlay{
  background-color: rgba(33,37,41,0.15);
  transition: 0.5s;
}

.card-img-overlay>h5{
  display: block;
  font-family: 'Staatliches', cursive;
  color: #FFFFFF;
  font-size: 45px;
  background-color: rgba(33,37,41,0.80);
  border-radius: 5px;
  text-align: center;
  transition: 0.3s;
  margin-top: 25%;
}

.card-img-overlay>a,.card-img-overlay>p {
  display: none;
}

.card:hover .card-img-overlay {
  background-color: rgba(33,37,41,1);
}

.card:hover .card-img-overlay>p{
  display: block;
}

.card:hover .card-img-overlay>a{
  display: inline;
}

.card:hover .card-img-overlay>h5{
  color: #C4E538;
  margin-top: 0;
}

@media only screen and (min-width:320px) {
  main .container #libro img {
    max-width: 250px;
  }

  .carousel-inner img {
    height: 40vh;
  }

  img.profile-img-main {
    width: 10vh;
    height: 10vh;
  }
}

@media only screen and (min-width:768px) {
  main .container #libro img {
    max-width: 368px;
  }

  .carousel-inner img {
    height: 50vh;
  }

  main#mission-vision{
    height: 105vh;
  }
}

@media only screen and (min-width:992px) {
  main .container #libro img {
    max-width: 368px;
  }

  .carousel-inner img {
    width: 100%;
    height: 60vh;
  }

  main#mission-vision{
    height: 100vh;
  }
}
